.image_preview {
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    /* background: transparent; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.show {
  visibility: visible;
}


img#screenshot_img {
    width: 60%;
    z-index: 9999;
}

.image_preview::after {
    background: #000;
    position: absolute;
    z-index: 9976;
    height: 100%;
    opacity: 0.5;
    width: 100%;
    top: 0;
    content: '';
}
